.header {
  padding-top: 20px;

  &__logo {
    max-width: 225px;

    @media (max-width: 575.98px) {
      max-width: 200px;
    }

    a {
      text-decoration: none;
    }

    img {
      width: 100%;
      max-width: 100%;
    }

    p {
      font-size: 12px;
      margin: 0;
      color: #ccc;
      font-weight: 300;
      margin-top: 2px;
    }

    &_login {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  &__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;

    @media (max-width: 991.98px) {
      align-items: flex-start;
      flex-direction: column;
    }

    @media (max-width: 767.98px) {
      align-items: center;
    }
  }

  &__navWrap {
    @media (max-width: 991.98px) {
      width: 100%;
      max-width: 100%;
      margin-top: 20px;
      align-items: center;
    }
  }

  &__navWrap-button {
    background-color: $wc;
    font-size: 14px;
    display: inline-block;
    max-width: 115px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    min-height: 25px;
    transition: all .3s;
    color: #ef4d2a;
    line-height: 25px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: $wc;
      background: transparent;
      border: 1px solid $wc;
    }
  }

  &__navWrap-mnu {
    transition: all .3s;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.8);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all .01s;
    }

    @media (max-width: 991.98px) {
      text-align: center;
    }

    @media (max-width: 767.98px) {
      position: absolute;
      width: 100%;
      max-width: 100%;
      top: -200%;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }

        @media (max-width: 767.98px) {
          display: block;
          margin-left: 0;
          margin-bottom: 10px;
        }

        a {
          font-size: 16px;
          color: $wc;
          transition: all .3s;
          text-decoration: none;
          position: relative;

          @media (max-width: 1199.98px) {
            font-size: 14px;
          }

          @media (max-width: 767.98px) {
            font-size: 16px;
            margin-bottom: 10px;
            text-transform: uppercase;
          }

          &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 1px;
            background-color: $wc;
            transition: all .3s;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .mobileMnu-js {
    left: 0;
    min-height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    position: fixed;
    z-index: 9999999;

    &:before {
      opacity: 1;
    }
  }

  &__top-nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    text-align: right;

    @media (max-width: 991.98px) {
      top: 35%;
    }

    @media (max-width: 767.98px) {
      position: relative;
      text-align: center;
      margin-top: 25px;
    }

    ul {
      margin: 0;
      padding: 0;
      margin-right: 30px;
      display: inline-block;

      @media (max-width: 575.98px) {
        margin-right: 10px;
      }

      @media (max-width: 379.98px) {
        margin-right: 0;
        margin-bottom: 10px;
      }

      li {
        display: inline-block;
        list-style: none;
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }

        a {
          text-decoration: none;
          font-size: 14px;
          color: #cccccc;
          transition: all .3s;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }

  select {
    background-color: transparent;
    border: none;
    position: relative;
    color: #cccccc;
    outline: none;
    option {
      
    }
  }
}
