html,
body {
  height: 100%;
  font-family: 'Museo';
}

// footerFlex down
.mainWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentWrap {
  flex: 1 0 auto;
}

// footerFlex down end